body,
html,
* {
    font-size: 1rem;
    justify-content: center;

}
.blocks {
    display: flex;
    flex-direction: row;
    margin: 0, auto;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.block {
    background-color: rgba(83, 83, 83, 0.538);
    border-radius: 2%;
    margin: 20em, auto;
    width: 23%;
    height: 20em;
    padding:1%
} 
#a1:hover{
    transform: scale(1.1);
    background-color: rgba(83, 83, 83, 0.538);
}
