body {
  background-color: rgb(235, 100, 17);
  gap: 4em;
  color: rgb(255, 255, 255);
}

html * {
  font-size: 1.2vw;
  font-family: "Baloo 2";
  justify-content: center;
}

.baloo-2-<uniquifier > {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.heading {
  background-color: rgba(235, 120, 47, 0.8);
  border-radius: 2em;
  height: 35vh;
  width: 91%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
  padding: 4%;
  min-width: 20em;
}
#title {
  font-size: 8vw;
  font-family: "Baloo 2";
}

.blocks {
  display: flex;
  flex-direction: row;
  margin: 0, auto;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}
.block {
  background-color: rgba(235, 120, 47, 0.8);
  border-radius: 2em;
  box-shadow: 10px 10px rgba(82, 32, 1, 0.8);
  margin: 20em, auto;
  width: 22%;
  height: 200px;
  padding: 1%;
  min-width: 15em;
  transition-duration: 0.7s;
  text-align: center;
}
.block img {
  height: 70%;
  object-fit: cover;
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .blocks {
    flex-direction: row;
  }
  .block {
    width: 26%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .blocks {
    flex-direction: row;
  }
  .block {
    width: 36%;
  }
  html * {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  .blocks {
    flex-direction: column;
  }
  .block {
    width: 80%;
  }
  html * {
    font-size: 4vw;
  }
}

#a1:hover {
  transform: scale(1.1);
  color: black;
  background-color: rgba(12, 136, 225, 0.8);
}
#a2:hover {
  transform: scale(1.1);
  animation: slide 1s infinite;
  color: black;
  background-color: rgba(12, 136, 225, 0.8);
}
  @keyframes slide {
    0% {
      transform: translateX(-5px);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(-5px);
    }
  }
#a3:hover {
  transform: translateY(-2em);
  color: black;
  background-color: rgba(226, 131, 226, 0.8);
}
#a4:hover {
  animation: pulse 0.8s infinite;
  color: black;
  background-color: rgba(226, 131, 226, 0.8);
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
#a5:hover {
  animation: shake 1s infinite;
  color: black;
  background-color: rgba(226, 131, 226, 0.8);
}

@keyframes shake {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
#a6:hover {
  transform: scale(1.1) rotateY(180deg);
  background-color: rgba(19, 223, 217, 0.8);
}
#a7:hover {
  transform: scale(1.1) skew(10deg);
  color: black;
  background-color: rgba(226, 131, 226, 0.8);
}
#a8:hover {
  transform: scale(1.1) rotate(360deg);
  color: black;
  background-color: #edf247cc;
}
#a9:hover {
  transition: background-color 0.8s, color 0.8s;
  background-color: rgba(228, 96, 43, 0.8);
}
