body,
html,
* {
    font-size: 1rem;
    justify-content: center;

}
.blocks {
    display: flex;
    flex-direction: row;
    margin: 0, auto;
    align-items: center;
    row-gap: 1rem;
    column-gap: 1rem;
    flex-wrap: wrap;
}
.block {
    background-color: rgba(83, 83, 83, 0.538);
    border-radius: .4;
    margin: 20rem, auto;
    width: 23%;
    height: 20rem;
    padding:1%
} 